    html, body{
        margin:10;
        padding:0;
        width:100%;
        height:100%;
    }
    #CenterBlock{
        background:white;
        width:400px;
        height:400px;
        position:absolute;
        top:30%;
        left:50%;
        margin:-200px 0 0 -200px;
    }